

/*
    -- Custom Style --
*/ 

body {
    /*color: #73879C;*/
    background-image: -webkit-linear-gradient(right,#cc2b5e,#753a88);
    background-image: linear-gradient(to left,#cc2b5e,#753a88);
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}


/*
    -- Nav --
*/
.nav_title {
    background: #444;
    width: 200px;
}

.nav-md .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 200px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.site_title {
    text-align: center;
    padding-left: 0px;
    font-size: 17px;
    font-weight: bold;
}

.site_title .title_betha {
    font-size: 11px;
    color:#cf6ef7;
}

.nav_menu {
    background: #753a88;
    background-image: -webkit-gradient(linear,right top,left top,from(#cc2b5e),to(#753a88));
    background-image: -webkit-linear-gradient(right,#cc2b5e,#753a88);
    background-image: linear-gradient(to left,#cc2b5e,#753a88);

    border-bottom: 1px solid #D9DEE4;
}

.left_col {
    background: #753a88;
}

.nav.side-menu>li>a, .nav.child_menu>li>a {
    color: #E7E7E7;
}

.nav.navbar-nav>li>a {
    color: #E7E7E7 !important;
}

.sidebar-footer {
    width: 200px;
    background: #444;
}


.main_container .top_nav {
    margin-left: 200px;
}

.nav-md .container.body .right_col {
    margin-left: 200px;
}

@media (min-width: 992px){
    footer {
        margin-left: 200px;
    }
}

.search-toggle {
    float: left;
    margin: 0;
    padding-top: 10px;
    position: relative;
    left: 10px;
}

.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, .top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
    background: #444;
}


.profile_info_business {
    padding: 16px 10px;
    width: 100%;
/*    background: lime;*/
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #e7e7e7;
}
/*
    -- Custom --
*/
.p_url {
    background:lime;    
}

.grid-sortable { 
    list-style-type: none; 
    margin: 0; 
	padding: 0; 
    width: 100%; 
}

    .grid-sortable li { 
        margin-right: 5px !important; 
        float: left;
        width: 18.5%; 
        height: 80px; 
        text-align: center; 
        background-color: cyan;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .grid-sortable li input[type=file]{
        font-size: 10px;   
        width: 110px;
    }


 /*input[type=file]  {
    width: 80px;
}*/


/*
div[data-action=edit], .form-control {
    background: #fff;
    border: 0.009px #eaeaea solid;
    border-bottom: 4px #eaeaea solid;
}
*/

/*
div[data-action=edit]{
    padding: 5px;
}
*/

.form_component {
/*
    position: fixed;
    width: 246px;
     float: right; 
    top: 57px;
    left: 80.3%;
    background: #444;
    padding-bottom: 11px;
    color: #eaeaea;
*/
    /* float: right; */
}

.btn-top-right {
    float: right;
    clear:both;
}

.btn-top-right:after {
    clear:both;
}


.page-title .title_left h3 {
    margin: 9px 0;
    text-transform: uppercase;
    text-decoration: initial;
    line-height: 1em;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    z-index: 1;
    margin-left: 22px;
    margin-top: 30px;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px #f9f9f9;
}


.content_theme {
    margin-top: 50px;
}


#menu_created {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

#menu_created li{
    list-style: none;
    margin-left: -30px;
    margin-top: 20px;
	
}

	#menu_created li div.div-container-menu{
		background: #ffd710;
		min-height: 40px;
		padding: 10px;
		border: 1px solid #e0bf19;
		font-weight: bold;
		color: #000;
	}

	#menu_created li input[disabled]{
		color #ca2b5f;
		background:#fafafa;
		margin-top: -6px;
	}

	#menu_created li .remove_menu {
        position: absolute;
        margin-top: -29px;
        margin-left: 215px;
        background: #F44336;
        color: #fff;
        padding: 2px;
        width: 30px;
        text-align: center;
    }

	.ui-sortable-menu {
		background: #fffa90;
		border: 1px solid #dff0d8;
		padding: 20px;
		list-style: none;
		margin: 20px 0px 0px -40px; 
	}

.box-url {
    color: #444;
    text-transform: lowercase;
    padding-left: 10px; 
    background: #f7f7f7;
    font-weight: bold;
    /* border: 1px solid #ccc; */
}

label {
    margin-top: 20px
}

.form-control {
    background-color: rgba(255,255,255,.5);
    border-bottom: 3px solid #333;
}


.box-editable {
    background-color: rgba(255,255,255,.5);
    border-bottom: 3px solid #333;
    padding: 10px 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.img-portada {
    margin-top: 45px;
}


    

/* -- pNotify -- */

.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify-in.ui-pnotify-fade-in.ui-pnotify-move {
    background: #f5ff7a;
    color: #444;
    border: 1px #444 solid;
    margin-top: 30px;
}



/*
.content-theme h3 {
    margin: 9px 0;
    text-transform: uppercase;
    text-decoration: initial;
    line-height: 1em;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    z-index: 1;
    margin-left: 22px;
    margin-top: 30px;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px #f9f9f9;
}*/


.box-hash {
    background: #444;
    color: yellow;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px; 
}

.theme-container-head {
    position: relative;
    margin-left: -40px;
    z-index: 2;
    padding: 10px 0px 20px 80px;
}

.theme-container-fixed {
	top: 0px;
	left: 40px;
	padding-left: 100px;
	position: fixed;
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #333;
	padding-top: 5px;
	padding-bottom: 0px;
}

	.theme-container-fixed #g-url {
		margin-bottom: 0px !important;
	}

.page-portada-image {
    position: relative;
    background-color: azure;
    width: 80%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-portada-image input[type=file] {
    width: 200px;
    text-align: center;
}

.page-container {
	
}
	.theme-container-head #g-url {
		height: 20px;
		border: 0px;
		background: #eaeaea;
		margin: -20px 0 20px 0;
	}

.x_content {
	margin-top: 20px;
}


.page-tab-title h3 {
    font-size: 16px;
    font-weight: bold;
	margin: -5px 0;
	line-height: 1.5;
}


#widget-select li{
    display: inline;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

    ul#widget-select {
        padding-top: 9px;
    }


#widget-list {
	padding: 0px 0px 0px 0px;	
}

#widget-list li {
	list-style: none;
	margin: 20px 0px;
}

#widget-list li div.widget-item {
	background: #fff;
	padding: 20px;
	border: 1px solid #bbb;
}

	.ui-sortable-widget {
		background: #fffa90;
		border: 1px solid #dff0d8;
        padding: 20px;
		height: 100px;
        list-style: none;
        margin: 20px 0px 0px -40px; 
	}