/* -- Fonts -- */


@font-face {
  font-family: 'aqz';
  src: url('../fonts/AQZCREW_.TTF');
}

@font-face {
  font-family: 'epuka';
  src: url('../fonts/TrashHand.ttf');
}



body {
	height: 100%
}

@import url('https://fonts.googleapis.com/css?family=Molengo');font-family: 'Molengo', sans-serif;

/* -- FlexSlide --*/

.flex-direction-nav a {
    height: 70px;
}


.flexslider .slides {
    max-height: 500px;
}

section.slider {
    background: #eaeaea;
	height: 60%;
}

.flexslider {
	border: 0px;
}

/* -- b_theme --- */

section {
	overflow: hidden; 
}


.spotlight.style1 .image {
    width: 52%;
    min-width: 25rem;
    border-radius: 0;
}

.spotlight.style1 .content {
    width: 48%;
    max-width: 64rem;
}

/* -- Custom -- */
@media(min-width: 768px){
	.col-5 {
	    width: 20%;
	    float:left;
	}

	.col-2 {
	    width: 50%;
	    float:left;
	}

	.col-4 {
	    width: 40%;
	    float:left;
	    position: relative;
	}
	.col-6 {
	    width: 60%;
	    float:left;
	    position: relative;
	}

	.site-heading {
		padding: 300px 0;
	}
    
    .gallery.style1 article {
        width: 20%;
    }
    
    .navbar-nav > li {
        /*padding-left: 1.7rem;*/
        padding-right: 1.25rem;
    }

    .navbar-default {
        background: none;
        padding: 30px;
        border:0px;
    }

    .image iframe {
        margin-top: 70px;
        margin-left: 30px;
        position: relative;
        width: 640px;
        height: 480px;
    }
}

.footer-title {
    font-family: epuka; 
}

/* -- nav -- */
.navbar-brand {
    font-family: epuka;
    text-decoration: none;
    font-size: 45px;
}

.navbar-default .navbar-nav>li>a {
    text-decoration: none;
    font-family: 'Molengo', sans-serif;
    font-weight:bold;
    text-transform: uppercase ;
    font-size: 16px;
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}


.navbar-absolute-top {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* -- cover page -- */
.title-page{
    font-family: 'epuka';
    font-weight: bold;
    font-size: 5vw;
    color:#fff;
    letter-spacing: 12px; /*0.2vw*/
    text-shadow: 1px -1px 0 rgba(165,54,201,1), 1px 1px 0 rgba(165,54,201,1), -1px -1px 0 rgba(165,54,201,1), -1px 1px 0 rgba(165,54,201,1), 2px -2px 0 rgba(165,54,201,1), 2px 2px 0 rgba(165,54,201,1), -2px -2px 0 rgba(165,54,201,1), -2px 1px 0 rgba(165,54,201,1), -1px 1px 0 rgba(165,54,201,1), -1px 2px 0 rgba(165,54,201,1), -2px 2px 0 rgba(165,54,201,1), -2px 3px 0 rgba(165,54,201,1), -3px 3px 0 rgba(165,54,201,1), -4px 4px 0 rgba(165,54,201,1);
}

.title-page:before {
    opacity: 0.65;
    position: absolute;
    color: #444;
    z-index: -10;
    text-shadow: #00ffff 1px 1px, black 2px 2px, black 3px 3px, black 4px 4px, black 5px 5px, black 6px 6px, black 7px 7px, black 8px 8px, black 9px 9px, black 10px 10px;
    margin-top: 0px;
    text-align: center;
}

 
.banner.style5 {
    padding: 5rem 5rem 3rem 5rem;
}

.banner.style5 .image {
    opacity: 1;
}

/*
    -- Buttons --
*/
input[type="submit"], input[type="reset"], 
input[type="button"], button, a.button{
    text-decoration: none;
    border-radius:1px;
    box-shadow: 0px 4px 0px 0px #00ffff;
    top: 10px;
    background: #444;
    font-weight: bold;
    color: #00ffff !important;
	margin-top:30px;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
    background: #555;
    box-shadow: 0px 4px 0px 0px #00ffff;
}


input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active, .button:active {
    background: #555;
    transform: translateY(4px);
    box-shadow: 0px 0px 0px 0px #00ffff;
}


/* -- Slide -- */

.flex-direction-nav a {
    height:70px;
}

.flexslider {
    margin: 0px;
}


.flex-caption {
    position: absolute;
    background: lime;
}

a {
    text-decoration: none;   
}


footer {
    margin-top: 100px;
}



.logo {
	width: 200px;
	margin-top: -15px;
}


#wrapper > .invert {
    background-color: #000000;
    color: #ffffff;
}

iframe {
	max-width: 100%;
}


/* -- Purple detail -- */
    .purple-epuka {
    	background: rgba(165,54,201,1);
        color: #fff;
    }


    .purple-epuka h1,.purple-epuka h2,.purple-epuka h3,.purple-epuka h4,.purple-epuka h5,.purple-epuka h6 {
        color: #fff;
    }

    h2 {
        font-family: 'Ubuntu', sans-serif;
		font-size: 2.0rem;
		font-weight: bold;
    }


    .purple-epuka a {
        color: #fff;
    }



.spotlight .image {
    background-color: #fff;
}


.spotlight.style5 .content {
    width: 50rem;
    max-width: 80%;
}


.container-fluid{
	margin-top: 20px;
}


strong, b {
	font-weight: bold;
}

.banner.style5 .content {
    width: 60rem;
}

